
/*And incomplete example of the CSS Grid without media queries*/
.site{
    display: grid;
    grid-template-columns:  2fr 1fr 1fr;
    grid-template-areas: 
        "title title title"
        "main masthead masthead"
        "main sidebar sidebar"
        "footer footer footer"
}

.masthead{
    grid-area: masthead;
}

.page-title{
    grid-area: title;
}

.main-content{
    grid-area: main;
}

.sidebar{
    grid-area: sidebar;
}

.footer-content{
    grid-area: footer;
}